
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 50px;
  background-color: rgb(158, 158, 245);
  color:white;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;  
}
.navbar-right
{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:b;
}

.activo{
  color:white;
}

h1{
  text-shadow: 3px 7px 5px rgba(172,103,207,1);
}

